*{
    padding: 0px;
    margin: 0px;
}

.row{
    display: flex;
    padding: 10px 100px;
}

.left{
    flex: 50%;
    max-width: 50%;
    margin-right: 50px;
}

.first_product{
    display: flex;
    background-color: rgb(216, 216, 216);
    box-shadow: 5px 5px 12px rgb(150, 148, 148);
    margin-bottom: 20px;
}

.product_img{
    flex: 40%;
    max-width: 40%;
    padding: 15px;
}

.product_img >img{
    width: 90%;
    height: 230px;
}

.product_details{
    flex: 60%;
    max-width: 60%;
    padding: 15px 15px 15px 0px;
    height: 200px;
}

.product_details h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}

.price_and_quantity{display: inline-flex; margin-top: 30px;}

.product_quantity{
    text-transform: uppercase;
    margin-left: 40px;
    text-align: center;
}

.product_quantity > input{
    background-color: rgb(233, 233, 233);
    width: 30px;
    height: 20px;
}

.product_quantity button{
    width: 25px;
    height: 24px;
    background-color: rgb(150, 148, 148);
}

.right{
    flex: 50%;
    max-width: 50%;
    height: 500px;
    margin-left: 50px;
    background-color: rgb(150, 148, 148);
}